/* body con drakmode */
body {
  background-color: #000;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* formulario centrado y con tematica del spacio */
form {
  margin: 0 auto;
  max-width: 600px;
  padding: 1em;
  width: 100%;
}

/* estilos del post
color de cabecera verde 
texto cursiva
centrado
 */

.post {

  margin: 0 auto;
  max-width: 600px;
  padding: 1em;
  width: 100%;
}

.post-header {
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0 0 1em 0;
  text-align: center;
}
.post-content {
  color: #fff;
  font-size: 1.2em;
  margin: 0 0 1em 0;
}
.post-footer {
  color: #fff;
  font-size: 0.9em;
  margin: 0 0 1em 0;
  text-align: left;
}